@media (max-width: 2560px) {
    body {
        max-width: 2560px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 


@media (max-width: 1000px) {

    body {
        display: flex;
        background: url(../img/bg-mobile.svg) no-repeat;
        background-size: 1000px;
        background-color: hwb(256 29% 31%);
        max-width: 1000px;
    
    }

    main {
        display: flex;
        flex-direction: column;

    }  

    main .information {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    main .information .image {
        margin: 0 auto;
        margin-top: 160px;

    }

    main .information .about {
        margin-top: 100px;
        text-align: center;
        gap: 10px;
        padding: 0;
    }

    main .information .about h1 {
        font-size: 4.5rem;
        line-height: 67px;

    }

    main .information .about p {
        font-size: 3.1rem;
        padding: auto;
        width: 600px;
        line-height: 40px;

    }

    main .information .about a {
        align-self: center;
        font-size: 25px;
        padding: 20px 150px;
        margin-top: 20px;
    }

    main .footer {
        align-self: center;
        margin-top: 108px;


    }

    main .footer a {
        width: 55px;
        height: 55px;
    }

    main .footer a i {
        font-size: 30px;
    }
}



@media (max-width: 480px) {

    body {
        display: flex;
        background: url(../img/bg-mobile.svg) no-repeat;
        background-size: 480px;
        background-color: hwb(256 29% 31%);
        
    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        
    }  

    main .header {
        padding: 30px 15px;
    }
     
  


    main .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;

    }

    main .information .image {
       margin-top: 120px;
       max-width: 400px;
        
    }

    main .information img {
        max-width: 350px;
        text-align: center;
      
    }

    main .information .about {
        margin-top: 100px;
        text-align: center;
        gap: 20px;
        padding: 0;
        max-width: 400px;
        
    }

    main .information .about h1 {
        font-size: 30px;
        text-align: center;
        margin: auto auto;
        max-width: 350px;
        line-height: 45px;
    }

    main .information .about p {
        font-size: 18px;
        max-width: 350px;
        line-height: 40px;
        text-align: center;
        margin: auto auto;


    }

    main .information .about a {
        align-self: center;
        font-size: 15px;
        margin-top: 20px;
        padding: 15px 100px;
    }

    main .footer {
        margin-top: 80px;
        margin: 90px auto;
    }

    main .footer a {
        width: 40px;
        height: 40px;
    }

    main .footer a i {
        font-size: 25px;

    }
}


