html {
    
    font-size: 62.5%
   
   }

body {
    background: url(../img/bg-desktop.svg) no-repeat;
   background-position-y: -37px ;
    background-position-x: -100px;
   
    background-color: #674bb1;
   
} 

main {
    
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header"
                      " information information "
                         "footer footer";


}


main .header {
    grid-area: header;
    padding: 40px 65px;
    padding-bottom: 0;

    
}

main .header .logo img{
    width: 17rem;

}

@media (max-width:375px) {
    body {
        background: url(../img/bg-mobile.svg) no-repeat;
    background-color: #674bb1;
   
    }

    main .header {
        padding: 30px ;
    }

    main .header .logo img {
        width: 130px;
    }
}


main .information {
    grid-area: information;

    display: flex;
   
}

main .information .image {
       margin-top: 65px;
      margin-left: 65px;
       max-width: 610px;
       padding: 0 auto;
}

main .information .about {
    padding-top:  7.5%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 600px;
    
   
}

main .information .about h1 {
    line-height: 48px;
    font-size: 4.5rem;
    font-weight: 600;
    color: #fff;
    

}

main .information .about p{
    font-family: 'Inter Tight';
    margin: 20px 0px;
    width: 470px;
    line-height: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
}

.information .about  a {
    color: #674bb1;
    align-self: flex-start;
    padding: 10px 50px;
    font-weight: 400;
    font-size: 17px;
    background-color: #fff;
    border-radius: 40px;
    
}

.information .about a:hover {
    color: #fff;
    background-color: #e980e7;
    box-shadow: 3px 3px 10px  rgb(58, 58, 58);
}

@media (max-width:885px) {
    main .information {
        display: flex;
       flex-direction: column;
    }
  
    main .footer {
        display: flex;
        margin: 10% 25%;

    }
}

@media (max-width:375px) {
    main .information {
        display: flex;
        flex-direction: column;
      
    }

   main  .information .image {
        width: 280px;
        margin-left: 30px;
        margin-top: 30px;
      
    }

    main .information .about {
        max-width: 320px;
    }

    main .information .about h1 {
        margin-top: 20px;
       font-size: 25px;
      
       text-align: center;
       line-height: 40px;
    }

    main .information .about p {
           margin-top: 10px;
          max-width: 300px;
           text-align: center;
           font-size: 15px;
    }

    .information .about  a {
     padding: 10px 70px;
     margin-left: 20%;
     font-size: 13px;
    }
}

main .footer {
   
    padding-right: 100px;
    font-size: 18px;
    grid-area: footer;
    display: flex;
    justify-self: flex-end;
   
    
}

main .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid;
    border-color: #fff;
    background-color:#674bb1;
    color: #fff;
    margin: 0px 6px;
    margin-top: -10px;
    
}

main .footer a:hover {
    color: #e980e7;
    border-color: #e980e7;
}

@media (max-width:375px) {
    main .footer {
        display: flex;
        padding-right: 8px;
        font-size: 10px;
        margin-top: 70px;

    }

    main .footer a {
      
        width: 30px;
        height: 30px;
       
    }

}